<!DOCTYPE html>
<html>
  <head>
    <title>Shareversary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# FontAwesomeの読み込み%>
    <script src="https://kit.fontawesome.com/4944a328cd.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if admin_signed_in? %>
      <%# 管理者ログイン時にヘッダー色の変更 %>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#cc8fa1">
        <a class="navbar-brand" href = "/"><span>Shareversary 管理者</span></a>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#8fccba">
        <a class="navbar-brand" href = "/"><span>Shareversary</span></a>
    <% end %>
        <div class="container">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-control="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if admin_signed_in? %>
                <li class="nav-item"><%= link_to " 記念日をつくる", new_post_path, class: 'fas fa-calendar-plus nav-link text-light' %></li>
                <li class="nav-item"><%= link_to " 記念日一覧", admin_posts_path, class: 'fas fa-calendar-alt nav-link text-light' %></li>
                <li class="nav-item"><%= link_to " ユーザー一覧", admin_users_path, class: 'fas fa-users nav-link text-light' %></li>
                <li class="nav-item"><%= link_to " タグ一覧", admin_genres_path, class: 'fas fa-tags nav-link text-light' %></li>
                <li class="nav-item"><%= link_to " ログアウト", destroy_admin_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light' %></li>
              <% elsif user_signed_in? %>
                <li class="nav-item"><%= link_to " 記念日をつくる", new_post_path, class: 'fas fa-calendar-plus nav-link text-light' %></li>
                <li class="nav-item"><%= link_to " マイページ", user_path(current_user), class: 'fas fa-user nav-link text-light' %></li>
                <li class="nav-item"><%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light' %></li>
              <% else %>
                <li class="nav-item"><%= link_to " 新規登録", new_user_registration_path, class: 'fas fa-user-plus nav-link text-light' %></li>
                <li class="nav-item"><%= link_to " ログイン", new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-light' %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <%# プロフィールアイコンの表示 %>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user) do %>
            <%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, fallback: "no_image.png", size: '40x40', class:"m-1 rounded-circle bg-white"; %>
          <% end %>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
